@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Titillium+Web&display=swap");

div.entire {
	width: 350px;
	border: 2px solid black;
	border-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 40px 40px 40px;
}

img {
	width: 240px;
	height: auto;
}

div.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.skills > * {
	background: rgb(227, 49, 168);
	border-radius: 3px;
	margin: 3px;
	padding: 2px;
}

div.devBio {
	font-family: "Titillium Web", sans-serif;
}
